mixin image-gal(images)
    +b.image-gal
        - var i = 0
        for image in images
            //- +e.A(href="#{image}" data-fancybox="images").a
            +e.A(href="#bs-modal#{i}" data-fancybox="images").a
                +e(style="background-image: url(#{image})").image

            div(style="display: none")
                +b.DIV(id="bs-modal#{i}").modal
                    +e.to-left <
                    +e.to-right >
                    +e.IMG(src="#{image}").image
                    +e.content.container-fluid
                        +e.line1
                            +e.title Название картинки - alt картинки
                            +e.likes
                                +e.counter 456
                                +e.hart                    
                                    +sprite-img("sprite", "hart")

                        +e.line2
                            +e.line2-group._h1._opacity
                                +e.text
                                    | H1 поста, к которому принадлежит фото
                            +e.line2-group._opacity
                                +e.text.hidden-sm.hidden-xs
                                    | Мне нравиться
                                +e.ico
                                    +sprite-img("sprite", "like").hidden-xs
                                    +sprite-img("sprite", "likeSm").visible-xs
                            +e.line2-group._opacity
                                +e.text.hidden-sm.hidden-xs
                                    | Купить
                                +e.ico
                                    +sprite-img("sprite", "by").hidden-xs
                                    +sprite-img("sprite", "bySm").visible-xs
                            +e.line2-group._social
                                +e.text.hidden-sm.hidden-xs
                                    | Поделиться
                                +e.ico
                                    +sprite-img("sprite", "fb")
                                +e.ico
                                    +sprite-img("sprite", "vk")
                                +e.ico
                                    +sprite-img("sprite", "inst")
            -i++